<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1>
    Welcome to {{ title }}! 
    <br>
    <i> level  {{level}} </i>
  </h1>



  <div *ngFor="let item of grid.state" style=" margin: 10px">

    <app-card  *ngFor="let i of item" type={{i}} [hidden]="hidden" (cardClicked)="cardClicked($event)"></app-card>
  

  </div>

  <!-- <h5> {{Result}} </h5> -->

  <button mat-button  *ngIf="!isShuffling" (click)="startShuffle()">  start </button>


